.navbar {
  box-shadow: 2px 2px 5px #000;
  opacity: 0.9;
}

.navbar .nav-item .nav-link {
  color: rgb(10, 10, 10);
}

.main-header {
  position: relative;
  background-size: cover;

}

.navbar {
  background: #C8B8DB;
  ;
  background: -webkit-linear-gradient(to right, #fffcdc, #502F4C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #70587C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.background-overlay {
  background: #C8B8DB;
  ;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fffcdc, #502F4C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fffcdc, #70587C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control,
.btn {
  border-radius: 50git;
}

.team,
footer {
  background: #ba9bdf;
}

.card-body {
  background: radial-gradient(50% 50% at 50% 50%, rgba(168, 76, 213, 0.47) 54.17%, rgba(46, 207, 210, 0.47) 100%);
  box-shadow: 10px 13px 5px 3px rgba(0, 0, 0, 0.42);
  border-radius: 40px;
  font-family: 'Uchen', serif;
}

.card-text-center1 {

  background: #e8cbd1;
  box-shadow: 0px 14px 17px 7px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

p {
  font-family: 'Uchen', serif;
}

h1 {
  font-family: 'Irish Grover', cursive;
}

.Nombre {
  color: #70587C;
}

.p-3 {
  background: #C8B8DB;
  border-radius: 15px;

}

.imagenes {
  width: 370px;
  height: 200px;
  border-radius: 15px;
}

.imagen2{
  width: 400px;
  height: 700px;
  border-radius: 20px;
}

.perfil-overlay {

  background: #70587C;

}


.container-buttons a {
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 50%;
  /* line-height: 70px; */
  color: #FFF;
  background-color: #000;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  font-size: 2.2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .9);

}

.container-buttons a {
  width: 70px;
  height: 70px;
  display: block;
  border-radius: 50%;
  /* line-height: 70px; */
  color: #FFF;
  background-color: #000;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  font-size: 2.2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .9);
}

.container-buttons a::before {
  content: "\f2c6";
  display: block;
  margin: 19px 0;
  transition: all .5s ease-in-out;
}

.container-buttons a:hover::before {
  margin-top: -37px;
}

.container-buttons a::after {

  display: block;
}

.container-buttons .uno {
  background-color: #160085;
}

.container-buttons .two::before {
  content: '\f293';
}


.container-buttons .dos {
  background: #515BD4;
  ;
  background: -webkit-linear-gradient(to right);
  background: linear-gradient(to right, #8134af, #DD2A7F, #FEDA77, #F58529);
  ;
}


.container-buttons .tres {
  background-color: #00be16;
}

.container-buttons .two::before {
  content: '\f293';
}

.container-buttons .cuatro {
  background-color: #535252;
}

.container-buttons .two::before {
  content: '\f293';
}


.container-buttons .cinco {
  background-color: #155263;
}

.container-buttons .two::before {
  content: '\f293';
}


.icono {
  width: 60px;
}